[Unit]
Description=WebVirtMgr Gunicorn Server
 
[Service]
WorkingDirectory={{ webvirtmgr_path }}
ExecStart=/usr/bin/python {{ webvirtmgr_path }}/manage.py run_gunicorn -c {{ webvirtmgr_path }}/conf/gunicorn.conf.py -b {{ webvirtmgr_bind }}
 
[Install]
WantedBy=multi-user.target

