# load modules
#
filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

# tune index settings
#
setup.template.settings:
  index.number_of_shards: {{ elastic_default_primaries }}
  index.number_of_replicas: {{ elastic_default_replicas }}

# Set kibana host
#
setup.kibana.host: "{{ elastic_kibana_host }}"

# configure output
#
output.elasticsearch:
  hosts: [ "{{ elastic_elasticsearch_host }}" ]
